/* Slide Styles */

svg {

}
#slide_container h1 {
	color:rgb(39, 127, 163);
	left:104px;
	position: absolute;
	font-size:27px;
	top:97px;

}
#slide_container li {
	position: absolute;

}

#slide_container li:nth-child(1) {
	left:104px;
	top:180px;

}
#slide_container li:nth-child(2) {
left: 104px;
top: 340px;
}
#slide_container li:nth-child(3) {
	left:543px;
    top:181px;
}
#slide_container h2 {
position: relative;
float:left;
font-size:64px;
color:rgb(39, 127, 163);
font-weight: bold;
opacity: 0;
}
#slide_container .right {
	   opacity: 0;
	float: left;
}
#slide_container h3 {

	color:rgb(109, 110, 113);
    font-size: 17px;
    margin-top:12px;
    margin-left:8px;
 
}
#slide_container h3:last-of-type {
	margin-top:-5px;
}
#slide_container li:nth-child(1) h3 {
	margin-left: 0px;
}
h2 sup {
	font-size:10px;
}

#notes {
	color:#FFF;
	top:623px;
	left:72px;

}
#main {
	position: absolute;
	left:104px;
	top:364px;

}
#notes p {
	opacity: 0;
	color:rgb(109, 110, 113);
	width:550px;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
    
}

