/* Slide Styles */

svg {

}
#slide_container h1 {
	color:#277fa3;
	left:104px;
	position: absolute;
	font-size:56px;
	font-weight: 200;
	top:125px;
	opacity: 0;

}
#slide_container h2 {
	top:217px;
	left:104px;
	width:805px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	color:rgb(109, 110, 113);
	font-size:21px;
	line-height: 27px;
	opacity: 0;
	font-weight: 200;
}

h2 sup {
	font-size:12px;
	position: relative;
	top: -5px;
}

#slide_container img {
opacity: 0;	
}

#slide_container h2:nth-child(3) {
    top:293px;

}

#notes {
	color:#FFF;
	top:623px;
	left:72px;

}
#main {
	position: absolute;
	left:104px;
	top:364px;

}
#notes p {
	opacity: 0;
	color:#FFF;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
}

#chart_container {
	width:350px;
	height:250px;
	background:#FFF;
}

#chart_container p {
	position: absolute;
}

.x-axis-line {
	left:20px;
	height:1px;
	background:#CCC;
	position: absolute;
}

.y-axis-line {
	width:1px;
	background:#CCC;
	position: absolute;
	left:24px;
	top:52px;
}

.bar {
	position: absolute;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}