/* Slide Styles */

svg {

}
#slide_container h1 {
	color:#277fa3;
	left:104px;
	position: absolute;
	font-size:56px;
	font-weight: 200;
	top:125px;
	opacity: 0;

}
#slide_container h2 {
	top:217px;
	left:104px;
	width:805px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	color:rgb(109, 110, 113);
	font-size:21px;
	line-height: 27px;
	opacity: 0;
	font-weight: 200;
}

h2 sup {
	font-size:12px;
	position: relative;
	top: -5px;
}

#slide_container img {
opacity: 1;	
}

#slide_container h2:nth-child(3) {
    top:293px;

}

#notes {
	color:#FFF;
	top:623px;
	left:72px;

}
#main {
	position: absolute;
	left:104px;
	top:364px;

}
#notes p {
	opacity: 0;
	color:#FFF;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
}

/* Charts */

#chart_container {
	
	background:#FFF;
	height:237px;
	width:390px;
    margin-top:73px;
    position: absolute;
    margin-left:104px;
}

#chart_container h3 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom:8px;
    margin-top:6px;
    color:#303030;
    margin-left:29px;
}

#chart {
	width:340px;
	height:207px;
	margin-left:35px;
	position: absolute;
}



#chart_container h4 {
	position: absolute;
	font-size:9px;
	-webkit-transform: rotate(-90deg) scale(0);
    top:116px;
    left:-13px;
    font-size:7px;

}

#chart_container h3 sub {
	font-size:11px;
	color:#CCC;
}
#chart_container p {
	position: absolute;
	-webkit-transform:scale(0);
	font-weight: bold;
}

.x-axis-line {
	left:20px;
	height:1px;
	background:#CCC;
	position: absolute;
	display:none;
}

.y-axis-line {
	width:1px;
	background:#CCC;
	position: absolute;
	left:24px;

}

.x-axis-seperator {
	background:#CCC;
	position: absolute;
	left:18px;
	height:1px;
	width:320px;
}
.bars  {
	margin-left:30px;
	position: absolute;
}
.bar_colum {
    border-radius: 5px;
    width:50px;
    float:left;
    margin-left:12px;
}

.bar:first-child {
    margin-left:0px;
}
.bar_titles {
    margin-left:30px;
	position: absolute;
}
.bar_title {
    -webkit-transform:scale(0);
	font-size:6px;
	font-weight: bold;
	text-align: center;
}

.bar_title:first-child {
margin-left:0px;
}