/* Slide Styles */

svg {

}
#slide_container h1 {
	color:#277fa3;
	left:104px;
	position: absolute;
	font-size:58px;
	font-weight: 200;
	top:125px;
	opacity: 0;

}
#slide_container h2 {
	top:217px;
	left:104px;
	width:390px;
	color:#FFF;
	opacity: 0;
	color:rgb(109, 110, 113);
	font-size:20px;
	line-height: 24px;
	opacity: 0;
	font-weight: 200;

}

h2 sup {
	font-size:12px;
	position: relative;
	top: -5px;
}

h2 span {
position: relative;
top: -3px;	
}

#slide_container img {
opacity: 1;	
width: 380px;
position: absolute;
top: 420px;
left: 104px;
}

#slide_container h2:nth-child(3) {
    top:293px;

}

#notes {
	color:#FFF;
	top:623px;
	left:72px;

}
#main {
	position: absolute;
	left:104px;
	top:364px;

}
#notes p {
	opacity: 0;
	color:#FFF;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
}