/* Slide Styles */

svg {

}
#slide_container h1 {
	color:#277fa3;
	left:113px;
	position: absolute;
	font-size:55px;
	top:117px;
}

#slide_container h2 {
	top:202px;
	left:113px;
	width:auto;
	color:#FFF;
	opacity: 0;
	color:#2d84b3;
	font-size:20px;
	line-height: 28px;

}

#slide_container ul {
	width:365px;
    position: absolute;
    top:465px;
    left:136px;
}


#slide_container h3 {
color:#6e6e6e;
	line-height: 17px;
	top:361px;
	left:124px;
	font-size:13px;
	position: absolute;
	opacity: 0;
}
#slide_container li {
	margin-bottom: 11px;
	opacity: 0;
}
#slide_container li:before {
	background:rgb(61, 152, 189);
	width:4px;
	height: 4px;
	border-radius: 100%;
	content: "";
	position: absolute;
	margin-left:-10px;
	margin-top:7px;
}
#slide_container h4 {
	color:rgb(111, 110, 118);
	line-height: 17px;
	font-size:13px;
}
#slide_container h4:nth-child(5) {
	top:432px;
}
h2 sup {
	font-size:10px;
}

#slide_container h2:nth-child(3) {
    top:242px;
}

#notes {
	color:#FFF;
	top:610px;
	left:116px;
	width:766px;
}
#main {
	position: absolute;
	left:104px;
	top:329px;

}
#notes p {
	opacity: 0;
	color:#383838;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
}

