/* Slide Styles */
svg {

}

#slide_container h1 {
	color:#277fa3;
	left:104px;
	position: absolute;
	font-size:57px;
	top:125px;
	opacity: 0;
}
#slide_container h2 {
	top:203px;
	left:104px;
	width:805px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	color:rgb(39, 127, 163);
	font-size:22px;
	line-height: 30px;
	opacity: 0;
}

#slide_container h3 {
	font-size:17px;
	color:rgb(65, 127, 163);
	position: absolute;
	line-height: 15px;
	opacity:0;
	font-weight: bold;
}

#slide_container h3 sup {
	font-size:6px;
}

#slide_container h3:nth-child(3) {
	top:343px;
	left:344px;
}
#slide_container h3:nth-child(4) {
	top:300px;
	left:503px;
	text-align: right;
}
#slide_container h3:nth-child(5) {
	top:490px;
	left:330px;
	text-align: left;
	width: 200px;
}
h2 sup {
	font-size:10px;
}

#slide_container h2:nth-child(3) {
    top:303px;
}

#slide_container h3 span {
display: block;
position: relative;
top: 3px;
text-align: left;
}


#main {
	position: absolute;
	left:104px;
	top:364px;

}


#notes {
	color:#000;
	position: absolute;
	top:590px;
	left:104px;
	width: 600px;
}

#notes p {
	opacity: 0;
	font-size:9px;
	color:#707070;
	margin-bottom: 5px;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
    font-size: 9px;
}

