/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

#slide_container h2 {
	top:250px;
	left:104px;
	width:700px;
	line-height: 27px;
	opacity: 0;
	font-size:20px;
	color: #6e6e6e;

}

h2 sup {
font-size: 12px;	
}

h2 span {
position: relative;
top: -5px;	
}

#slide_container h2:nth-child(3) {
	top: 392px;
}


#notes {
	color:#000;
	top:535px;
	left:104px;
}

#notes p {
	opacity: 0;
	width:800px;
	color:#707070;
	margin-bottom: 6px;
}

.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
color:#707070;
	opacity: 0;
}


