/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

h1 sup {
font-size: 16px;
position: relative;
top: -4px;
left: 1px;	
}

h2 sup {
font-size: 10px;	
}

#slide_container h2 {
	top:170px;
	left:104px;
	width:705px;
	line-height: 20px;
	opacity: 0;
	font-size:16px;
	color:#6e6e6e;
}

#slide_container h2:nth-child(3) {
	top: 229px;
}


.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:rgb(136, 136, 136);
	opacity: 0;
}

.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten {
position: relative;
left: 104px;
width: 320px;
opacity: 0;
font-weight: 200;
}

.one {
top: 175px;	
font-size: 17px;
font-weight: bold;
color: #bfa566;
}

.two {
top: 180px;
font-size: 15px;
font-weight: bold;
color: #bfa566;
}

.three {
top: 190px;
font-size: 14px;
color: #bfa566;
}

#slide_container p.four {
top: 193px;	
font-size: 13px;
color: #6e6e6e;
}

#slide_container p.five {
top: 200px;
font-size: 13px;
color: #6e6e6e;
}

.six {
top: 213px;
font-size: 14px;
color: #bfa566;	
}

#slide_container p.seven {
top: 216px;	
font-size: 13px;
color: #6e6e6e;
}

.eight {
top: 231px;	
font-size: 15px;
font-weight: bold;
color: #bfa566;
}

.nine {
top: 236px;
font-size: 14px;
color: #bfa566;	
}

#slide_container p.ten {
top: 240px;	
font-size: 13px;
color: #6e6e6e;
}

.eleven, .twelve, .thirteen, .fourteen, .fifteen, .sixteen, .seventeen {
position: relative;
left: 504px;	
width:  400px;
opacity: 0;
font-weight: 200;
}

.eleven {
top: -45px;
font-size: 15px;
font-weight: bold;
color: #bfa566;	
}

.twelve {
top: -38px;	
font-size: 14px;
color: #bfa566;	
}

#slide_container p.thirteen {
top: -34px;	
font-size: 13px;
color: #6e6e6e;
}

.fourteen {
top: -20px;	
font-size: 14px;
color: #bfa566;	
}

#slide_container p.fifteen {
top: -16px;	
font-size: 13px;
color: #6e6e6e;
}

.sixteen {
top: -2px;
font-size: 14px;
color: #bfa566;	
}

#slide_container p.seventeen {
top: 2px;	
font-size: 13px;
color: #6e6e6e;
}