/* Slide Styles */

svg {

}
#slide_container h1 {
	color:rgb(39, 127, 163);
	left:104px;
	position: absolute;
	font-size:63px;
	top:125px;
	opacity: 0;

}
#slide_container h2 {
	top:217px;
	left:104px;
	width:805px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	color:rgb(109, 110, 113);
	font-size:23px;
	line-height: 30px;
	opacity: 0;
}

h2 sup {
	font-size:10px;
}

#slide_container h2:nth-child(3) {
    top:303px;
}

#notes {
	color:#FFF;
	top:623px;
	left:72px;

}
#main {
	position: absolute;
	left:104px;
	top:364px;

}
#notes p {
	opacity: 0;
	color:#FFF;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
    
}

