/* Slide Styles */

svg {

}
#slide_container h1 {
	color:#277fa3;
	left:104px;
	position: absolute;
	font-size:27px;
	top:97px;
}


#slide_container ul {
	width:365px;
    position: absolute;
    top:246px;
    left:104px;
}

#slide_container ul:nth-child(4) {
	
    left:526px;
}

#slide_container h3 {
	color:#FFF;
	font-size: 20px;
	line-height: 28px;
	margin-bottom:6px;
	font-weight: bold;
	position: absolute;
	top:266px;
	left:569px;
	width: 400px;
}
#slide_container li {
	margin-bottom: 14px;
}

#slide_container h4 {
	color:rgb(111, 110, 118);
	line-height: 19px;
}
#slide_container h4:nth-child(5) {
	top:432px;
}
h2 sup {
	font-size:10px;
}

#slide_container h2:nth-child(3) {
    top:242px;
}

#notes {
	color:#FFF;
	top:613px;
	left:104px;
}


.table {
	    width: 543px;
}
.table_header {
    position: absolute;
    left: 104px;
    top: 159px;
    width: 543px;
    opacity: 0;
    height: 68px;
}
.table_colum h2 {
    color: #FFF;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    line-height: 19px;
}
.table p {
    text-align: center;
    font-size: 11px;
    color: #FFF;
}
.table_colum .inner {
    height: 207px;
}
.table_colum p {
    color: #646464;
    padding: 0px 0px;
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 15px;
}
.table_colum p:nth-child(2) span {
    display: block;
    margin-top: -4px;
}
.table_colum p:nth-child(2) span:nth-child(3) {
    display: block;
    margin-top: -4px;
}
.table_colum p:nth-child(3) span {
    display: block;
    margin-top: -4px;
}
.table_header p {
    margin-top: 8px;
    line-height: 14px;
    margin-left:1px;
}
.cost h2:first-of-type {
    margin-top: 7px;
}
.table_colum:nth-child(3) .cost h2:last-of-type {
    margin-top: 23px;
    color: #2783a8;
    font-size: 15px;
}
.table_colum {
    width: 268px;
    top: 230px;
    position: absolute;
    opacity: 0;
    height: 357px;
}
.table_colum:nth-child(2) {
    left: 104px;
}
.table_colum:nth-child(3) {
    left: 380px;
}
.table_colum .header {
    height: 57px;
    text-align: center;
    color: #FFF;
}

.blue {
color: #2783a8;	
font-weight: bold;
display: block;
}




: 250px;
}

#notes p {
	opacity: 0;
	color:#383838;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
    font-size: 9px;
}

