/* Slide Styles */
svg {

}

#slide_container h1 {
	color:#277fa3;
	left:104px;
	position: absolute;
	font-size:27px;
	top:97px;

}
#slide_container  h2 {
	top:166px;
	left:104px;
	width:815px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	color:rgb(39, 127, 163);
	font-size:18px;
	line-height: 30px;
	opacity: 0;
	opacity:0;
}

#slide_container h3 {
	font-size:17px;
	color:rgb(65, 127, 163);
	position: absolute;
	line-height: 15px;
	opacity:0;
	font-weight: bold;
}

#slide_container h3 sup {
	font-size:6px;
}

#slide_container h3:nth-child(3) {
	top:358px;
	left:367px;
}
#slide_container h3:nth-child(4) {
	top:308px;
	left:509px;
	text-align: right;
}
#slide_container h3:nth-child(5) {
	top:530px;
	left:291px;
	text-align: right;
}
h2 sup {
	font-size:10px;
}

#slide_container h2:nth-child(3) {
    top:303px;
}


#main {
	position: absolute;
	left:104px;
	top:220px;
    opacity:0;
}
#notes {

	top:605px;
	left:104px;
}
#notes p {
    width:760px;
    margin-bottom:3px;
    opacity:0;
    font-size: 10px;
    color:rgb(109, 110, 113);
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
}

/* Table stylings */

table {
position: absolute;
left: 104px;
top: 220px;
width: 800px;
box-shadow: 6px 6px 6px -4px #666;
border-radius: 5px;
opacity: 0;
}

table th {
background-color: #1f7ea4;
color: #FFF;	
padding: 6px 0 6px 14px;
font-size: 12px;
border-right: 1px solid #a5d2e6;
border-bottom: 1px solid #a5d2e6;
}

table th:nth-child(1) {
border-radius: 5px 0 0 0;	
}

table th:nth-child(4) {
border-radius: 0 5px 0 0;	
}

table th:nth-child(4) {
border-right: none;	
}

table td {
color: #98999b;	
font-size: 11px;
background-color: #FFF;
padding: 4px 0 4px 14px;
border-right: 1px solid #a5d2e6;
border-bottom: 1px solid #a5d2e6;
}

table tr.last td:nth-child(1) {
border-radius: 0 0 0 5px;		
}

table tr.last td:nth-child(4) {
border-radius: 0 0 5px 0;
}

table tr.last td {
border-bottom: none;	
}

table td:nth-child(1) {
font-weight: bold;	
width: 86px;
font-size: 12px;
}

table td:nth-child(1) sup, table th:nth-child(3) sup, table th:nth-child(4) sup {
font-size: 7px;
position: relative;
left: 1px;	
}

table td:nth-child(2) {
width: 416px;
}

table td:nth-child(3) {
width: 118px;
}

table td:nth-child(4) {
width: 124px;
border-right: none;
}

table tr.last td {
color: #2780a3;	
font-size: 13px;
}

table tr.last td:nth-child(3), table tr.last td:nth-child(4) {
color: #666;	
font-size: 14px;
font-weight: bold;
}

/* Product Colours */

.capsorin {
	color: #c0a76b;
}

.evacal {
	color:#f66c80;
}

.filnarine {
	color:#4c5ca9;
}

.macilax {
	color:#72904d;
}

.marol {
	color:#eb0021;
}

.matrifen {
	color:#56a1a7;
}

.monomil {
	color:#fdb812;
}

.nasofan {
	color:#f2620d;
}

.peptac {
	color:#ef5a93;
}

.prestylon {
	color:#b7d09a;
}

