/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

h1 sup {
font-size: 16px;	
}

h2 sup {
font-size: 12px;
}

#slide_container h2 {
	top:179px;
	left:104px;
	width:805px;
	line-height: 26px;
	opacity: 0;
	font-size:19px;
	font-weight: 100;
	color:rgb(136, 136, 136);
}

#points {
	left:104px;
	top:240px;
	position: absolute;
}

#slide_container h3 {
   color:#5a61ac;
   font-size:16px;
   margin-bottom:2px;
   opacity: 0;
   font-weight: 100;

}

#slide_container h4 {
   font-size:14px;
   margin-bottom: 15px;
   color:rgb(136, 136, 136);
   opacity: 0;
   line-height: 17px;
   font-weight: 100;
}

#slide_container h2:nth-child(3) {
	top:320px;
}

#main {
	left:190px;
	position: absolute;
	top:192px;
}

#notes {
	color:#000;
	top:560px;
	left:104px;
}

#notes p {
	opacity: 0;
	width:800px;
	font-size:8px;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:252px;
    color:rgb(136, 136, 136);
    left:860px;
    width:300px;
}
