/* Slide Styles */

svg {

}

#slide_container h2 {
	top:510px;
	left:72px;
	width:580px;
	color:#FFF;
	line-height: 23px;
	opacity: 0;
	font-size: 18px;
}

h2 sup {
	font-size:10px;
	position: relative;
	left: 1px;
	top: -2px;
}


#slide_container h2:nth-child(2) {
    top:579px;
}

#notes {
	color:#FFF;
	top:625px;
	left:72px;
}

#notes p {
	opacity: 0;
	color:#FFF;
	width:  900px;
	margin-bottom: 2px;
}

#notes p:nth-child(1) {
margin-bottom: 0;	
}

.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:265px;
	color:#FFF;
	left:860px;
	width:300px;
}
