/* Slide Styles */

svg {

}

#slide_container h2 {
top: 515px;
left: 72px;
width: 725px;
color: #FFF;
line-height: 23px;
opacity: 0;
font-size: 18px;
}


h2 sup {
	font-size:11px;
	position: relative;
	top: -2px;
	left: 1px;
}


h2 span {
position: relative;
top:-5px;
}


#notes {
	color:#FFF;
	top:618px;
	left:72px;
}

#notes p {
	opacity: 0;
	color:#FFF;
	width:  900px;
	margin-bottom: 2px;
}

#notes p:nth-child(2) {
position: relative;
top: -1px;	
}

.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:265px;
	color:#FFF;
	left:860px;
	width:300px;
	opacity: 0;
}
