/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

#slide_container h2 {
	top:295px;
	left:104px;
	width:788px;
	line-height: 27px;
	opacity: 0;
	font-size:21px;
	color:#6e6e6e;
}

h2 sup {
font-size: 12px;	
position: relative;
left: 1px;
top: -4px;
}

#slide_container h2:nth-child(3) {
	top: 377px;
}

#notes {
	color:#000;
	top:558px;
	left:104px;
}

#notes p {
	opacity: 0;
	width:800px;
	color:#707070;
}

.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:#707070;
}


