/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

h1 sup {
font-size: 15px;
position: relative;
left: 2px;
top: -4px;	
}

h2 sup {
font-size: 10px;	
}

#slide_container h2 {
	top:173px;
	left:104px;
	width:195px;
	line-height: 21px;
	opacity: 0;
	font-size:15px;
	color:#6e6e6e;
}

#slide_container h2 span {
	position: relative;
	top: -4px;
}


.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:#707070;
}

#slide_container img {
width: 611px;
position: absolute;
left: 350px;
top: 160px;	
opacity: 0;
}

#img_container .fullscreen {
top: 70px !important;
}