/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	top:86px;
	font-size:24px;
}

h1 sup {
font-size: 13px;	
}

h2 sup {
font-size: 10px;	
}

#slide_container h2 {
	top:170px;
	left:104px;
	width:745px;
	line-height: 24px;
	opacity: 0;
	font-size:18px;
	color: #6e6e6e;
}

#slide_container h2 span {
position: relative;
top: -5px;	
}

#slide_container h2:nth-child(3) {
	top: 229px;
}


.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:rgb(136, 136, 136);
	opacity: 0;
}

#slide_container img {
width: 806px;
position: absolute;
left: 104px;
top: 225px;	
opacity: 0;
}

#notes {
	color:#000;
	top:562px;
	left:104px;
}

#notes p {
	opacity: 0;
	width:800px;
	font-size:9px;
	color:#707070;
	margin-bottom: 0;
}

/* Table stylings */

table {
position: absolute;
left: 104px;
top: 230px;
width: 800px;
box-shadow: 6px 6px 6px -4px #666;
border-radius: 5px;
opacity: 0;
}

table th {
background-color: #f2637a;
color: #FFF;	
padding: 2px 2px 0 2px;
font-size: 12px;
line-height: 14px;
border-right: 1px solid #f58d9d;
border-bottom: 1px solid #f58d9d;
}

table th.cent {
text-align: center;
}

table #pushdown {
position: relative;
top: 2px;	
}

table tr.selected td {
background-color: #fee8e9;
}

table th:nth-child(1) {
border-radius: 5px 0 0 0;	
}


table th span.table_lineup {
position: relative;
top: -4px;	
}

table th span.table_small {
display: block;
font-size: 8px;	
position: relative;
top: 5px;
}

table th:nth-child(4) {
border-radius: 0 5px 0 0;	
padding-right: 5px;
border-right: none;
}

table td:nth-child(4) {
border-right: none;
}

table td {
color: #8d8e90;	
font-size: 12px;
background-color: #FFF;
padding: 2px 14px;
border-right: 1px solid #f58d9d;
border-bottom: 1px solid #f58d9d;
text-align: center;
line-height: 1.1;
}

table td sup, table th sup {
font-size: 7px;	
}

table td:nth-child(1) {
width: 290px;	
text-align: left;
}

table td:nth-child(2) {
width: 160px;	
}

table td:nth-child(3) {
width: 180px;	
}

table td:nth-child(4) {
width: 120px;	
}


table tr.last td:nth-child(1) {
border-radius: 0 0 0 5px;		
}

table tr.last td:nth-child(4) {
border-radius: 0 0 5px 0;
}

table tr.last td {
border-bottom: none;	
}