/* Slide Styles */

svg {

}
#slide_container h1 {
	color:rgb(112, 110, 122);
	left:111px;
	position: absolute;
	font-size:20px;
	top:118px;
	width: 800px;
	text-align: center;
	opacity: 0;
}
#slide_container h2 {
	top:241px;
	left:480px;
	width: 400px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	color:#FFF;
	font-size:17px;
	line-height: 23px;
	opacity: 0;
	color:#FFF;
	font-weight: bold;
	text-align: center;

}
#slide_container h2:nth-child(3) {

    top:375px;
}
#slide_container h2:nth-child(4) {
    top:510px;
    left:412px;
    width: 200px;
}
#slide_container h2:nth-child(5) {
    top:510px;
    left:722px;
    width: 200px;
}

#slide_container h3 {
	left:532px;
	top:270px;
	font-size: 22px;
	font-weight: bold;
	color:rgb(61, 152, 189);
	position: absolute;
	line-height: 26px;
	opacity: 0;
}

#slide_container h4:nth-child(5) {
	top:432px;
}
h2 sup {
	font-size:10px;
}


#notes {
	color:#FFF;
	top:623px;
	left:365px;

}
#main {
	position: absolute;
	left:446px;
	top:184px;
    opacity: 0;
}
#notes p {
	opacity: 0;
	color:rgb(109, 110, 113);
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
    
}

