/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

#slide_container h2 {
	top:170px;
	left:104px;
	width:805px;
	line-height: 26px;
	opacity: 0;
	font-size:22px;
	color:rgb(136, 136, 136);
}

#slide_container h2:nth-child(3) {
	top:320px;
}

#main {
	left:190px;
	position: absolute;
	top:192px;
	opacity: 0;
}

#notes {
	color:#000;
	top:560px;
	left:104px;
}

#notes p {
	opacity: 0;
	width:800px;
	font-size:8px;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:252px;
    color:rgb(136, 136, 136);
    left:860px;
    width:300px;
}

h1 sup {
font-size: 16px;
position: relative;
top: -4px;
left: 2px;	
}


/* Chart */

#chart_container {
	border:2px solid #bfaf8f;
	border-radius: 10px;
	box-shadow: 2px 2px 8px 0px #666;
	background:#FFF;
	height:351px;
	width:540px;
    margin-top:150px;
    position: absolute;
    margin-left:230px;
}



#chart_container h3 {
    font-weight: bold;
    font-size: 12px;
    margin-bottom:8px;
    margin-top:100px;
    color:#303030;
    margin-left:29px;
}

#chart {
	width:340px;
	height:207px;
	margin-left:100px;
	margin-top: 80px;
	position: absolute;
	border:1px solid #CCC;
}



#chart_container h4 {
	position: absolute;
	font-size:9px;
	-webkit-transform: rotate(-90deg);
    top:116px;
    left:-13px;
    font-size:7px;
    opacity:0;

}

#chart_container h3 sub {
	font-size:11px;
	color:#CCC;
}
canvas {
	position: absolute;
}
.line_container {
	top:3px;
	position: 	absolute;
}
.y-axis-lable {
	position: absolute;
	font-weight: normal;
	margin-left:-26px;
	margin-top:-4px;
}
.x-axis {
    top:0px;
	position: absolute;
}
.x-axis-line {

	height:2px;
	background:#CCC;
	position: absolute;
	display:block;
}

.y-axis-line {
	width:1px;
	background:#CCC;
	position: absolute;
	left:24px;
	display:none;

}
.x-axis-seperator {
	height:4px;
	width:2px;
	background:#CCC;
	position: absolute;
}
.x-axis-lable {
		position: absolute;
	font-weight: normal;
	text-align: center;
	-webkit-transform:rotate(-90deg);
}
.y-axis-seperator {
	background:#CCC;
	position: absolute;
	border-bottom:1px dotted #333;
}

.bars  {
	margin-left:30px;
	position: absolute;
}
.bar_colum {
    border-radius: 5px;
    width:50px;
    float:left;
    margin-left:12px;
}

.bar:first-child {
    margin-left:0px;
}
.bar_titles {
    margin-left:30px;
	position: absolute;
}
.bar_title {
    -webkit-transform:scale(0);
	font-size:6px;
	font-weight: bold;
	text-align: center;
}

.bar_title:first-child {
margin-left:0px;
}