/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

h1 sup {
font-size: 13px;	
}

h2 sup {
font-size: 12px;	
}

#slide_container h2 {
	top:180px;
	left:104px;
	width:765px;
	line-height: 27px;
	opacity: 0;
	font-size:18px;
	color:rgb(136, 136, 136);
}

#slide_container h2:nth-child(3) {
	top: 200px;
}


.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:rgb(136, 136, 136);
}

#slide_container img {
width: 805px;
position: absolute;
left: 104px;
top: 260px;	
opacity: 0;
}


/* Table stylings */

table {
position: absolute;
left: 104px;
top: 240px;
width: 800px;
box-shadow: 6px 6px 6px -4px #666;
border-radius: 5px;
}

table th {
background-color: #ea2040;
color: #FFF;	
padding: 4px 5px 4px 5px;
font-size: 12px;
line-height: 14px;
border-right: 1px solid #f690a0;
border-bottom: 1px solid #f690a0;
text-align: left;
}

table th:nth-child(2), table th:nth-child(3), table th:nth-child(4) {
text-align: center;	
}

table th sup {
font-size: 8px;
}

table td sup {
font-size: 7px;
position: relative;
left: 1px;
top: -2px;	
}

table tr td:nth-child(1) {
	width: 235px;
}

table tr td:nth-child(2) {
	width: 102px;
	text-align: center;
}

table tr td:nth-child(3) {
	text-align: center;
}

table tr td:nth-child(4) {
	width: 175px;
	text-align: center;
}

table th span.table_lineup {
position: relative;
top: -5px;	
}

#slide_container table th span.table_small {
display: block;
font-size: 8px;	
position: relative;
top: 4px;
}

table th:nth-child(1) {
border-radius: 5px 0 0 0;	
padding-left: 14px;
}

table th:nth-child(4) {
border-radius: 0 5px 0 0;	
}

table th:nth-child(4) {
border-right: none;	
padding-right: 5px
}

table td {
color: #706f6f;	
font-size: 12px;
background-color: #FFF;
padding: 3px 14px;
border-right: 1px solid #f690a0;
border-bottom: 1px solid #f690a0;
}

table td:nth-child(4) {
border-right: none;	
}

table tr.last td:nth-child(1) {
border-radius: 0 0 0 5px;		
}

table tr.last td:nth-child(4) {
border-radius: 0 0 5px 0;
}

table tr.last td:nth-child(5), table tr.last td:nth-child(6) {
color: #6d6e71;	
}

table tr.last td {
border-bottom: none;	
}

.table_down {
position: relative;
top: 4px;
}


