/* Slide Styles */

svg {

}

header button {
	display:none;
}

#play {

	width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-left: 15px solid #007AFF;
	border-bottom: 10px solid transparent;
	top:12px;
	left:41px;
	position: absolute;
	z-index: 10;

}

#slide_container h2 {
	top:485px;
	left:72px;
	width:805px;
	color:#FFF;
	line-height: 25px;
	opacity: 0;
	position:  relative;
}

.greyscale {
-webkit-filter: grayscale(1);
}

h2 sup {
	font-size:10px;
}

#slide_container h2:nth-child(2) {
    top:558px;
}

#notes {
	color:#FFF;
	top:623px;
	left:72px;
}

#notes p {
	opacity: 0;
	color:#FFF;
}

.side_note {
	-webkit-transform:rotate(90deg);
	position: absolute;
	top:382px;
	color:#FFF;
	left:857px;
	width:300px;
}

#main {
	margin:auto;
	display: block;
	margin-top:107px;
}



#slide_container .version {
color: #a9a9a9;
position: absolute;
top: 580px;
left: 500px;
font-size: 14px;
}

#slide_container .address {
color: #a9a9a9;
position: absolute;
top: 550px;
left: 690px;
width: 200px;
text-align: right;
font-size: 14px;
}
