/* Slide Styles */

svg {

}
#slide_container h1 {
	color:rgb(39, 127, 163);
	left:104px;
	position: absolute;
	font-size:55px;
	top:125px;
	opacity: 0;

}
#slide_container h2 {
	top:298px;
	left:127px;
	width:365px;
	color:#FFF;
	opacity: 0;
	color:rgb(39, 127, 163);
	font-size:19px;
	line-height: 25px;
	opacity: 0;
	font-weight: 100;
}

h2 sup {
	font-size:10px;
}

h2 span {
position: relative;
top: -5px;
}

#slide_container h2:nth-child(3) {
    top:303px;
}

#notes {
	color:#FFF;
	top:623px;
	left:72px;

}
#main {
	position: absolute;
	left:104px;
	top:364px;

}
#notes p {
	opacity: 0;
	color:#FFF;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#666;
    left:860px;
    width:300px;
    
}

