/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

h1 sup {
font-size: 13px;
position: relative;
top: -4px;
left: 2px;
}

h2 sup {
font-size: 11px;
position: relative;
top: -4px;
left: 2px;
}


#slide_container h2 {
	top:170px;
	left:104px;
	width:805px;
	line-height: 25px;
	opacity: 0;
	font-size:18px;
	color:#6e6e6e;
}

#slide_container h2:nth-child(3) {
	top: 244px;
}

#slide_container img {
	width: 805px;
	height: 159px;
	position:  relative;
	top: 105px;
	left: 104px;
	opacity:  1;
}

#notes {
	color:#000;
	top:550px;
	left:104px;
}

#notes p {
	opacity: 0;
	width:800px;
	color:#707070;
	margin-bottom: 4px;	
}

.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:rgb(136, 136, 136);
}


/* Table stylings */

table {
position: absolute;
left: 104px;
top: 330px;
width: 800px;
box-shadow: 0px 6px 6px -4px #666;
border-radius: 5px;
opacity: 0;
}

table th {
background-color: #dde4d1;
color: #797b7a;	
padding: 12px 10px 12px 10px;
font-size: 12px;
line-height: 14px;
border-right: 1px solid #d7c8a6;
border-bottom: 1px solid #d7c8a6;
vertical-align: top;
text-align: center;
}

table th span {
display: block;
font-size: 8px;
position: relative;
top: 5px;	
}

.cent {
text-align: center;	
}

table tr.selected td {
background-color: #f0eada;
}

table th:nth-child(1) {
border-radius: 5px 0 0 0;	
}

table th:nth-child(1) {
width: 90px;
}

table th:nth-child(2) {
width: 135px;
}

table th:nth-child(4) {
width: 125px;
}

table th:nth-child(5) {
width: 115px;
}

table th:nth-child(6) {
width: 115px;
}

table th span.table_lineup {
position: relative;
top: -3px;	
}

table th span.table_small {
display: block;
font-size: 8px;	
position: relative;
top: 5px;
}

table th:nth-child(6) {
border-right: none;	
padding-right: 5px;
border-radius: 0 5px 0 0;	
}

table tr:nth-child(2) td {
border-right: none;
}

table td {
color: #456a1a;	
font-size: 12px;
background-color: #FFF;
padding: 5px 10px 5px 10px;
border-right: 1px solid #d7c8a6;
border-bottom: 1px solid #d7c8a6;
font-weight: bold;
text-align: center;
}

table tr:nth-child(2) td {
color: #858484;
font-weight: normal;
text-align: center;
padding: 5px 0;
}

table td:nth-child(6) {
border-right: none;	
}

table tr.last td:nth-child(1) {
border-radius: 0 0 0 5px;		
}

table tr.last td:nth-child(6) {
border-radius: 0 0 5px 0;
}

table tr.last td {
border-bottom: none;	
}