/* Slide Styles */

svg {

}

#slide_container h1 {
	color:#FFF;
	left:104px;
	font-size:24px;
}

h1 sup {
font-size: 16px;	
position:  relative;
top: -4px;
left: 1px;
}

h2 sup {
font-size: 10px;	
}

#slide_container h2 {
top: 220px;
left: 104px;
width: 245px;
line-height: 20px;
opacity: 0;
font-size: 17px;
color: #6e6e6e;
}

#slide_container h2:nth-child(3) {
	top: 229px;
}

footer {
	display:none;
}
.side_note {
	-webkit-transform:rotate(270deg);
	position: absolute;
	top:252px;
	color:#FFF;
	left:860px;
	width:300px;
	color:rgb(136, 136, 136);
	opacity: 0;
}

#slide_container img {
width: 540px;
position: absolute;
left: 370px;
top: 180px;	
opacity: 1;
}

#slide_container ul {
	left:104px;
	width:755px;
	position: relative;
	padding-left: 0;
	margin-left: 0;
}

#slide_container ul li {
	line-height: 26px;
	opacity: 0;
	font-size:13px;
	color: #6e6e6e;	
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
	line-height: 16px;
	font-weight: 200;
	text-indent: -.7em;
	width: 240px;
}

#slide_container ul li:nth-child(1) {
top: 330px;	
position:  relative;
}

#slide_container ul li:nth-child(2) {
top: 350px;	
position:  relative;
}

#slide_container ul li:nth-child(3) {
top: 370px;	
position:  relative;
}

#slide_container ul li:before {
    content: "• ";
    color: #a88d5b; 
    font-size: 10px;
}
