/* Slide Styles */

svg {

}

#slide_container h2 {
	top:495px;
	left:72px;
	width:805px;
	color:#FFF;
	line-height: 23px;
	opacity: 0;
}

h2 sup {
	font-size:9px;
}

#slide_container h2:nth-child(2) {
    top:563px;
}

#notes {
	color:#FFF;
	top:629px;
	left:72px;
}

#notes p {
	opacity: 0;
	color:#FFF;
	margin-bottom: 4px;
}

.side_note {
    -webkit-transform:rotate(270deg);
    position: absolute;
    top:265px;
    color:#FFF;
    left:860px;
    width:300px; 
}
